.newsletter {
  padding: 40px 0;

  .container {
    position: relative;
    color: $white;
    z-index: 10;
  }

  h2 {
    color: $white;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 36px;
  }

  p {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 20px;
    color: $gray-100;
  }
}